<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
    <link rel='stylesheet' href='/webjars/bootstrap/5.3.3/css/bootstrap.min.css'>
</head>
<body>
<div class="container-fluid text-center">
    <div class="col">

    </div>
    <div class="col">
        <form method="post" th:action="@{/login}">
            <label for="username" class="form-label">Логин:
                <input class="form-control" type="text" placeholder="Введите логин" name="username" id="username"/>
            </label><br>
            <label for="password" class="form-label">Пароль:
                <input class="form-control" type="password" placeholder="Введите пароль" name="password" id="password"/>
            </label><br>
            <label for="remember" class="form-check-label"> Запомнить меня
                <input class="form-check-input" type="checkbox" id="remember" name="remember-me"/>
            </label>
            <br>
            <button class="btn btn-primary" type="submit">Авторизоваться</button>
        </form>
        <a class="link-primary" th:href="@{/registration}">Еще нет аккаунта?</a>
    </div>
    <div class="col">
    </div>
    <script src="webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
</div>
</body>
</html>