<!DOCTYPE html>
<html lang="en">
<div th:replace="~{fragments/head_fragment :: head(pageTitle='Список задач')}"></div>
<body>
<div class="container-fluid">
    <div class="container">
        <br>
        <div class="row">
            <div class="col">
                <form method="get">
                    <label class="form-label" for="search">
                        <input type="text" class="form-control" id="search" name="search"/>
                    </label>
                    <button type="submit" class="btn btn btn-primary">Поиск</button>
                    <button type="reset" class="btn btn btn-primary">Очистить</button>
                </form>
            </div>
            <div th:replace="~{fragments/profile_button_fragment :: profileButton}"></div>
        </div>
    </div>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col" th:each="task : ${tasks}">
                <div th:replace="~{fragments/task_card_fragment :: taskCard(
                title=${task.title},
                description=${task.description},
                status=${task.status},
                createdAt=${task.createdAt}
                )}"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>